* {
    margin: 0%;
    box-sizing: border-box;
    background-color: rgb(142, 182, 255);
    body {
    font-family: sans-serif;
    box-sizing: border-box;
}

}
html{
        font-size: 15px;
}
/*0000000000000000000000000*/
/*         header          */
/*00000000000000000000000000*/
header.enlaces{
    width: 100%;
    padding: 20px 0 ;
    background: transparent;
    text-align: center;
}
h1{
    margin-top: 20px;
    font-size: 3.5rem;
    font-weight: 700;

}
nav{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
    background: transparent;
    padding: 10px 18px;
    text-decoration: none;



}
nav a{
    text-decoration: none;
    color:black ;
    background-color: rgb(180, 210, 255);
    padding: 10px 18px;
    border: 1px solid rgb(120, 150, 200);
    border-radius: 5px;

}



/*0000000000000000000000000*/
/*         body             */
/*00000000000000000000000000*/
body{
    font-family: "oswald",sans-serif;
    background: var(--bg);
    color: var(--text);
    line-height: 1.6;
}
.presentacion{
    margin-top: 50px auto;
    max-width: var(--container-width);
    padding: 20px;
    background: var(--bg-light);
    border-radius: var(--radius);
    text-align: center;

}
.presentacion img{
    margin-top: 20px;
    border-radius: 100%;
    border: 3px solid var(--primary);
    transition: var(--transition);
}
.presentacion img:hover{
    transform: scale(1.05);

}
.presentacion strong {
    display: block;
    margin-top: 10px;
    font-size: 1.3rem;
    color: var(--accent);
}
    /*aside*/
    .tecnologias{
        text-align: center;
        margin-bottom: 15px;

    }
.tecnologias h2{
    text-align: center;
    margin-bottom: 15px;

}
.tecnologias ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 10px 0 ;

}
.tecnologias li{
    padding: 10px 20px;
    font-size: 1.1rem;

}
input[type="text"],
input[type="email"],
textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px ;
    border-radius:var(--radius);
    border: none;
    background: #ccc5c5;
    color: var(--text);
    font-size: 1rem;
}
input[type="sumit"]{
    margin-top: 20px;
    padding: 12px 20px;
    background: var(--primary);
    border: none;
    border-radius: var(--radius);
    color:white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;


}
.contacto{
    max-width: 600;
    margin: 40px auto;
    padding: 20px;
}

/*0000000000000000000000000*/
/*         footer          */
/*00000000000000000000000000*/
footer{
    text-align: center;
    padding: 25px 0;
    margin-top: 40px;
    color: rgb(0, 0, 0);
}




